body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: white;
    background-color: #0C0C0C;
}

a{
    text-decoration: none;
    color: white;
}

header a {
    font-size: 1.3rem;
    padding: 1rem;
    transition: 0.4s ease;
    border: 1px solid #0C0C0C;
    border-radius: 5px;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #0C0C0C;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
    z-index: 100;
}

header h1{
    margin-left: 2rem;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin-right: 4rem;
    
}

li{
    list-style:none;
    font-weight: bold;
}

header a:hover{
    color: #0C0C0C;
    border-color: white;
    background-color: white;
}

/*Main*/
h1 {
    text-align: center;
}

/*Home*/

  
#home{
    background-color:#0C0C0C;
    padding: 1rem 0;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 5rem;
}


.home img{
    width: 80%;
    max-width: 25rem;
    height: auto;
    border-radius: 40%;
    margin-left: 20rem;
}
.introduction{
    width: 100%;
    margin-left: 5rem;
    margin-top: 1rem;
    padding-right: 5rem;
    font-size: 1.2rem;
}

.introduction span{
    font-weight: bold;
    color: #2dbeff;
}

.introduction p:first-child{
    font-size: 4rem;
    line-height: 0;
}

/*skills*/
#skills{
  border-top: 1px solid white;
  padding-top: 2rem;
}

#skills div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#skills>div img{
  width: 100px;
  height: auto;
  margin-bottom: 4rem;
}

.react-img{
  animation: rotate 4s linear infinite;
}
/*Projects*/
#projects{
    background: #0C0C0C;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border-top: 1px solid white;
}

#projects a{
    border: 1px solid #2dbeff;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s ease;
}

#projects a:hover{
    color: white;
    border-color: #2dbeff;
    background-color: #2dbeff;
    box-shadow: 0 0 25px #2dbeff;
}

#projects p{
    margin-bottom: 2rem;
}

/*Contact*/
#contact {
    padding: 20px;
    text-align: center;
    background-color: #0C0C0C;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  
  #contact h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  #contact p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #0C0C0C;
  }
  
  .contact-options {
    margin-bottom: 20px;
  }
  
  .contact-options a {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    text-decoration: none;
    color: white;
  }

  .contact-options a:hover{
    color: #2dbeff;
  }
  
  .contact-options a i {
    margin-right: 8px;
  }

/*Footer*/
footer {
    text-align: center;
    padding: 10px;
    background: #0C0C0C;
    color: #fff;
    font-size: 1.5rem;
  }

  @keyframes fadeIn {
    0% {
      transform: translateY(+300px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .gradiant{
    border-radius: 50px;
    background: linear-gradient(50deg, #0C0C0C, #1d1d1d);
    padding: 2rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
  }

  @media (max-width: 1270px) {
    .introduction p:first-child{
        font-size: 3rem;
        line-height: 0;
    }
    .home {
      flex-direction: column;
      align-items: center;
    }
    img{
        margin-left: auto;
        margin-right: 20rem;
    }
    .introduction{
        padding-right: 0;
        margin-left: 0;
    }
    .introduction p{
        padding-right: 2rem;
        padding-left: 2rem;
    }
    #skills>div img{
      width: 60px;
      margin: 4rem 1rem;
    }
  }
@media (max-width: 900px) {
    .introduction p:first-child{
        font-size: 2.5rem;
        line-height: 0;
    }

    header h1{
        font-size: 1.5rem;
    }
    header a{
        font-size: 1rem;
    }
    .introduction p{
        font-size: 1.1rem;
    }
    .container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    #skills>div img{
      width: 40px;
      margin: 2rem 1rem;
    }
}

@media (max-width: 430px) {
    #home{
      padding-top: 3rem;
      padding-bottom: 0;
    }
    .introduction p:first-child{
        font-size: 2rem;
        line-height: 0;
    }

    header h1{
        font-size: 0.55rem;
        margin-left: 0.6rem;
    }
    header a{
        font-size: 0.5rem;
    }
    nav ul{
        margin-right: 0;
    }
}